build
composer.lock
docs
vendor
coverage
.phpunit.result.cache
.idea/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
*.iml
modules.xml
.idea/misc.xml
*.ipr

### Custom ###
/.idea/*
*.cache
.php_cs.cache
*.BACKUP
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.orig
*.iws
*.iml
*.ipr
